@import 'node_modules/modern-normalize/modern-normalize.css';


:root{
  --grean:#59B17A;
  --grean-hover:#A5C0B8;
  --black:rgb(29, 30, 33);
  --modal-beckdrop:#12141733;
  --white:#FCFCFC;
  --background: #F8F8F8;
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Inter-Regular.ttf') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/Inter-Regular.ttf') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/Inter-SemiBold.ttf') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Inter-Bold.ttf') format('woff2');
}

body {
  background-color: var(--background);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: hsl(0, 0%, 7%);
  width: 100%;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
